:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgreen;
  color: whitesmoke;
}

body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}

p {
  background-color: black;
}

.teams {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 75%;
}

.team {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
}

.team h2 {
  font-size: 2rem;
}

.team-1-score,
.team-2-score {
  text-align: center;
  font-size: 5rem;
}

.quarter-number {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.quarter-buttons {
  display: flex;
  justify-content: center;
}
